In [11]:
# Import required libraries
import numpy as np
import os 
import pandas as pd
import hvplot.pandas
from pathlib import Path
from sklearn.linear_model import LinearRegression
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [12]:
# load file 
file_path = "C:\\Users\\linet\\OneDrive\\Desktop\\Project 4\\Home-Sales-Prediction\\Resources\\original_extracted_df.csv"
home = pd.read_csv(file_path)

# Print the shape of the DataFrame
print(home.shape)

# Print the first few rows of the DataFrame
home.head()

(24521, 16)

,State,City,Street,Zipcode,Latitude,Longitude,Bedroom,Bathroom,Area,PPSq,LotArea,ConvertedLot,LotUnit,MarketEstimate,RentEstimate,Price
0,AL,Saraland,Scott Dr,36571.0,30.819534,-88.095960,4.0,2.0,1614.0,148.636927,0.38050,0.38050,acres,240600.0,1599.0,239900.0
1,AL,Southside,Big Oak Dr W,35907.0,33.881050,-86.012436,3.0,2.0,1474.0,0.000678,0.67034,0.67034,acres,186700.0,1381.0,1.0
2,AL,Robertsdale,Cowpen Creek Rd,36567.0,30.590004,-87.580376,3.0,2.0,1800.0,144.388889,3.20000,3.20000,acres,NaN,NaN,259900.0
3,AL,Gulf Shores,Spinnaker Dr #201,36542.0,30.284956,-87.747920,2.0,2.0,1250.0,274.000000,NaN,NaN,NaN,NaN,NaN,342500.0
4,AL,Chelsea,Mallet Way,35043.0,33.357986,-86.608700,3.0,3.0,2224.0,150.629496,0.26000,0.26000,acres,336200.0,1932.0,335000.0

In [13]:
# Drop rows with NaN values
home_cleaned = home.dropna()

# Print the shape of the cleaned DataFrame
print(home_cleaned.shape)

# Print the first few rows of the cleaned DataFrame
home_cleaned.head()

(14901, 16)

,State,City,Street,Zipcode,Latitude,Longitude,Bedroom,Bathroom,Area,PPSq,LotArea,ConvertedLot,LotUnit,MarketEstimate,RentEstimate,Price
0,AL,Saraland,Scott Dr,36571.0,30.819534,-88.095960,4.0,2.0,1614.0,148.636927,0.38050,0.38050,acres,240600.0,1599.0,239900.0
1,AL,Southside,Big Oak Dr W,35907.0,33.881050,-86.012436,3.0,2.0,1474.0,0.000678,0.67034,0.67034,acres,186700.0,1381.0,1.0
4,AL,Chelsea,Mallet Way,35043.0,33.357986,-86.608700,3.0,3.0,2224.0,150.629496,0.26000,0.26000,acres,336200.0,1932.0,335000.0
6,AL,Montgomery,Brampton Ln,36117.0,32.372746,-86.165115,3.0,2.0,1564.0,96.547315,8712.00000,0.20000,sqft,150500.0,1385.0,151000.0
7,AL,Boaz,Greenwood Ave,35957.0,34.210014,-86.136690,3.0,2.0,1717.0,139.196273,0.38000,0.38000,acres,238400.0,2125.0,239000.0

In [14]:
# Get data types of each column
data_types = home_cleaned.dtypes
data_types

State              object
City               object
Street             object
Zipcode           float64
Latitude          float64
Longitude         float64
Bedroom           float64
Bathroom          float64
Area              float64
PPSq              float64
LotArea           float64
ConvertedLot      float64
LotUnit            object
MarketEstimate    float64
RentEstimate      float64
Price             float64
dtype: object

In [15]:
# Get unique states
unique_states = home_cleaned['State'].unique()
unique_states

array(['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'ID',
       'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN',
       'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND',
       'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT',
       'VA', 'WA', 'WV', 'WI', 'WY'], dtype=object)

In [16]:
# Define numerical and categorical columns
numerical_cols = ['Zipcode', 'Latitude', 'Longitude', 'Bedroom', 'Bathroom', 'Area', 'PPSq', 'LotArea', 'ConvertedLot', 'MarketEstimate', 'RentEstimate', 'Price']
categorical_cols = ['State', 'City', 'Street', 'LotUnit']

In [5]:
# # seperate the features, X, from the target variable, y
# y = home_cleaned
# X = home_cleaned.drop(columns='y')

In [ ]:
# Preview the first five enteries for the target variable 
y[:5]

In [ ]:
# Encode the categorical variables from the features data using get_dummies.
# Encode the categorical variables using get_dummies
X = pd.get_dummies(X)
# Review the features data
X.head()

In [ ]:
Separate the data into training and testing subsets.
# Split the dataset using train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
y_test.value_counts()